---
permalink: feed.json
layout: null
eleventyExcludeFromCollections: true
---
{% set posts = collections.publishedEssays or [] %}
{% set feedUrl = 'feed.json' | url | absoluteUrl(site) %}
{% set siteUrl = '/' | url | absoluteUrl(site) %}
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": {{ site.title | dump }},
  "home_page_url": {{ siteUrl | dump }},
  "feed_url": {{ feedUrl | dump }},
  "description": {{ site.tagline | dump }},
  "items": [
    {% for post in posts %}
      {% set releaseNotes = post.data.release_notes or [] %}
      {% set releaseNote = releaseNotes | first or meta.extractDescription(post.data) %}
      {% set contentText = releaseNote or '' %}
      {% set version = post.data.version or '0.0' %}
      {% set canonicalUrl = (post.data.canonical or post.url | url) | absoluteUrl(site) %}
      {
        "id": {{ canonicalUrl | dump }},
        "url": {{ canonicalUrl | dump }},
        "title": {{ post.data.title | dump }},
        "date_published": {{ post.data.published_at | dump }},
        "version": {{ version | dump }},
        "content_text": {{ contentText | dump }}
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
