---
permalink: feed.xml
layout: null
eleventyExcludeFromCollections: true
---
{% set entries = collections.publishedEssays or [] %}
{% set feedUrl = 'feed.xml' | url | absoluteUrl(site) %}
{% set siteUrl = '/' | url | absoluteUrl(site) %}
{% set latest = entries | first %}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:due="https://due.page/ns">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ siteUrl }}</link>
    <description>{{ site.tagline }}</description>
    <lastBuildDate>
      {% if latest and latest.data.published_at %}
        {{ latest.data.published_at | rssDate }}
      {% else %}
        {{ page.date | rssDate }}
      {% endif %}
    </lastBuildDate>
    <generator>Eleventy</generator>
    {% for post in entries %}
      {% set postTitle = post.data.title or (post.data.page and post.data.page.title) or post.fileSlug or 'Untitled essay' %}
      {% set releaseNotes = post.data.release_notes or [] %}
      {% set releaseNote = releaseNotes | first or meta.extractDescription(post.data) %}
      {% set canonicalUrl = meta.buildCanonicalUrl({ canonical: post.data.canonical, canonical_url: post.data.canonical_url, page: { url: post.url }, site: site }) %}
      {% set version = post.data.version | formatVersion(post.data.initial_status) %}
      <item>
        <title>{{ postTitle }}</title>
        <link>{{ canonicalUrl }}</link>
        <guid isPermaLink="true">{{ canonicalUrl }}</guid>
        {% if post.data.published_at %}<pubDate>{{ post.data.published_at | rssDate }}</pubDate>{% endif %}
        {% if releaseNote %}<description>{{ releaseNote | escape }}</description>{% endif %}
        {% if post.data.author %}<dc:creator>@{{ post.data.author }}</dc:creator>{% endif %}
        <due:version>{{ version }}</due:version>
      </item>
    {% endfor %}
  </channel>
</rss>
